<?xml version="1.0" encoding="utf-8" ?>
<!--
SPDX-FileCopyrightText: 2024 Lukas Prediger <lumip@lumip.de>
SPDX-License-Identifier: GPL-3.0-or-later
-->
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>lcov,opencover</Format>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <ExcludeByFile>CompactCryptoGroupAlgebra/*,CompactCryptoGroupAlgebra.Tests/*</ExcludeByFile>
          <Exclude>[CompactCryptoGroupAlgebra]*,[CompactCryptoGroupAlgebra.Tests]*</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
